@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700;800;900&family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
// $BackgroundColor: #001C40;
$BackgroundColor: #F0F2F5;
$MainTextColor: #000;
// $SecondaryTextColor: #FFD43B;
$SecondaryTextColor: #4064AC;
$PrimaryFontStyle: 'Inter', sans-serif;
$SecondaryFontStyle: 'Montserrat Alternates';
$Speed:300ms;

