.map-person-detail{
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    word-break: break-all;
    border-radius: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    &>div{
        margin: 0.22rem 0;
    }
    .map-person-detail-name{
        font-weight: 700;
        font-size: 1.2rem;
    }
    .map-person-detail-icon-container{
        img{
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }
    }
}